.line-container {
  display:flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.text {
  margin-right: 10px;
}

.line {
  height: 2px;
  width: 700px;
  background-color: #000;
}