.viewport-test {
  display: block;
  height: 20px;
  width: 100%;
  background-color: #ffffab;
}

* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 0  auto;
}

/* bodyの空白枠除き、全方向にFlexにする */
/*
body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  width: 100%;
  margin: 0;
}
header {
  display: block;
  grid-column: 1;
  grid-row: 2;
}
main {
  display: block;
  grid-column: 1;
  grid-row: 2;
}
footer {
  display: block;
  grid-column: 1;
  grid-row: 3;
}
*/


/* コンテナーの最大サイズ */
.container{
  max-width: 1400px;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

/* ========================== */
/* カラー定義
/* ========================== */

/* 標準の文字色 */
.std-tx-color {
  color: #181818;
}

header, footer {
/*  background-color: #181818; */
  background-color: #181818;
}

/* ========================== */
/* フォント書体定義
/* ========================== */
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-serif-jp-<uniquifier> {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* メインビジュアルの主メッセージ */
.vm-main-message-fig {
  font-family: "Noto Sans JPRobot";
}
/* メインビジュアルの服メッセージ */
.vm-sub-message-fig {
  font-family: "Noto Serif JP";
}

.regular-sans {
  font-style: "Noto Sans JP";
}

.regular-serif {
  font-style: "Noto Serif JP";
}

.regular-Eng {
  font-style: Arial;
}

/* ========================== */
/* フォント定義
/* ========================== */

h2 {
  font-family: "Noto Sans JP";
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 2.6px;
  color: #181818;
}

h3 {
  font-family: "Noto Sans JP";
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 2.4px;
  color: #181818;
}

.regtext {
  font-family: "Noto Serif JP";
  font-size: 24px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 2.4px;
  color: #181818;
}

/* ========================== */
/* フォント装飾/装飾定義
/* ========================== */
/* シャドーをつける */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* 強調体 */
.emphasis {
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* ========================== */
/* コンテナー定義/構造の定義
/* ========================== */

/* セクション区切りの上下空白 */
.section-padding{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-nowrap {
  display: inline-block;
}

/* -------------------------------------------- */
/*  ▼ スマフォの場合に適用するCSS ▼
/* -------------------------------------------- */
/*+ ===================================== +*/
/*+ body部
/** ===================================== +*/
body {
  background-color: #f8f5ff;
}

/*+ ===================================== +*/
/*+ header部
/** ===================================== +*/

/* ヘッダー全体の領域の定義 */
/* ヘッダー全体の領域の定義 */
header {
  display: block;
  height: 160px;
  width: 100%;
}

/* ヘッダーのトレードマークの定義 */
.trade-mark {
  display: flex;
  position: relative;
  top: 80px;
  left: 24px;
  width: 208px;
  height: 64px;
/*  background-color: orange;*/
}
.LogoMark {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  margin: 0;
/*  background-color: #62f56c;*/
}
.LogoMark img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.LogoText {
  display: block;
  position: relative;
  height: 24px;
  margin-top: 35px;
  padding-left: 0 0 0 2px;
/*  background-color: #fe6464;*/
}
.LogoTextFig {
  font-family: "Noto Sans HK";
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 2.4px;
  color: #c9c9c9;
}

/*** ヘッダーナビゲーションを非表示にする ***/
.header-nav {
  display: none;
}

/*** ハンバーガーメニュー ***/
.hamburger-menu {
  display: block;
  position: fixed;
  top: 16px;
  right: 8px;
  width: 72px;
  height: 72px;
}
.hamburger-menu img {
  width: 100%;
  object-fit: cover;
}

/*+ until here about header ============= +*/

/*+ ===================================== +*/
/*+ footer部
/** ===================================== +*/

/* フッターのサイズ・文字色 */
.footer-title {
  font-style: "Noto Serif JP";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1.8px;
  color: #E7E6F3;
  text-align: left;
}
.footer-text {
  font-style: "Noto Serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.6px;
  color: #8A8A8A;
}

/* フッターの構造 */
.footer {
  width: 100%;
  margin: 0 auto;
/*  background-color: #cfb8b8;*/
}

.footer-grid {
  display: grid;

  grid-template-columns: 1fr 360px 1fr;
  grid-template-rows: auto auto auto auto;
  row-gap: 32px;
  width: 100%;
  margin: 32px auto 0;
  padding: 32px 24px 0 24px;
}

.footer-nav {
  grid-column: 2;
  grid-row: 1;
}

.footer-address {
  grid-column: 2;
  grid-row: 2;
}

.footer-telmail {
  grid-column: 2;
  grid-row: 3;
}

.footer-business-hours {
  grid-column: 2;
  grid-row: 4;
}

.footer-text {
  margin-top: 16px;
  margin-left: 40px;
}

/* ナビゲーション */
.footer-nav nav {
  margin-top: 24px;
  margin-left: 40px;
}
.footer-nav nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-nav nav ul li {
  margin-bottom: 32px;
  font-family: "Noto Sans HK";
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 2.16px;
}
.footer-nav nav ul li a {
  text-decoration: none;
  color: #7241FE;
  display: block;
  padding: 5px 10px;
}
.footer-nav nav ul li a:hover {
  color: #ecd525;
}

/* コピーライト */
.footer-copyright {
  display: flex;
  width: 100%;
  height: 68px;
  justify-content: flex-end;
  align-items: flex-end;
}

.copyright-text {
  font-style: "Noto Serif";
  font-size: 16px;
  line-height: 16px;
  margin: 0 16px 16px 0;
  color: #FBF4F4;
}

/*+ until here about footer ============= +*/

/*+ ===================================== +*/
/*+ main部
/** ===================================== +*/
/*+ ===================================== +*/
/*+ ビジュアルメイン部
/** ===================================== +*/
/* ビジュアルメイン画像 */
.main-visual {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
/*  background-color: #ff9e9e;*/
}

.main-visula-fig {
/*  margin: 0;*/
  margin: 0 auto;
  width: 100%;
  height: 400px;
/*  background-color: #d3ff41;*/
}

.main-visula-fig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* タイトル文字 */
.main-visual-title-panel {
  display: block;
  width: 100%;
  height: 328px;
  margin: -384px auto 0;
/*  background-color: #7A2972;*/
}

.main-visual-title-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 56px;
}

.main-visual-title span {
  font-family: "Noto Sans JP";
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.main-visula-narration {
  font-family: "Noto Serif JP";
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/*+ until here about main-visual ======== +*/

/*+ main =============================== +*/
main {
  width: 100%;
}

.main-description {
  width: 100%;
  margin: 0 auto;
  padding: 16px 16px 0;
}


/*+ until here about main =============== +*/


/*+ ===================================== +*/
/*+ 個別画面ごとの定義を行う
/** ===================================== +*/

/*+ ===================================== +*/
/*+ 主記述部（top）
/** ===================================== +*/

/*+ ===================================== +*/
/*+ 主記述部（index）
/** ===================================== +*/
/*+++ ビジュアルメイン +++*/
.main-visual-title-figure-index span {
  letter-spacing: 4.8px;
  color: #242297;
}

.main-visula-narration-index {
  line-height: 40px;
  letter-spacing: 2.4px;
  margin-top: 3px;
  text-align: left;
  color: #181818;
}

/*+++ 主記述部 +++*/
/* 全体の構造 */
.declaration-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 72px auto auto 72px auto auto;
}

.title-1-index {
  grid-column: 1;
  grid-row: 1;
/*  background-color: #f8bebe;*/
}

.what-company-index {
  grid-column: 1;
  grid-row: 2;
/*  background-color: #bcf795;*/
}

.what-service-index {
  grid-column: 1;
  grid-row: 3;
/*  background-color: #aa95f8*/
}

.title-2-index {
  grid-column: 1;
  grid-row: 4;
/*  background-color: #f8bebe;*/
}

.principal-index {
  grid-column: 1;
  grid-row: 5;
/*  background-color: #bcf795;*/
}

.motto {
  grid-column: 1;
  grid-row: 6;
/*  background-color: #aa95f8;*/
}

/* 個別の構造 */
.title-area-index {
  display: flex;
  width: 100%;
  height: 72px;
  margin: 0 auto;
}
.title-index {
  display: block;
  height: 24px;
  width: auto;
  margin-top: 0;
}
.title-index h3 {
  width: auto;
  text-align: left;
  margin: 0;
}
.dash-index {
  display: block;
  height: 24px;
  width: auto;
  margin: 0px;
  padding-left: 12px;
}
.dash-index img {
  width: 100%;
  padding-top: 12px;
}

/* 各々の掲示 */
.figure-index {
  display: block;
  width: 400px;
  height: 632px;
  margin: 0 auto;
/*  background-color: #efff86;*/
}

.caption-index {
  display: block;
  width: 100%;
  height: 96px;
  margin: 0 auto;
/*  background-color: #b5ffb5;*/
}
.caption-index p {
  font-family: "Noto Serif JP";
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing:2.6px;
  text-align: center;
  padding-top: 10px;
}
.hr-index {
  margin: 0;
  width: 100%;
  height: 4px;
  opacity: 0.5;
}
.hr-index img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.describe-index {
  display: block;
  width: 100%;
  height: 360px;
  margin: -16px 0;
  padding: 0;
/*  background-color: #cda4ff; */
}
.describe-index ul {
  margin: 0 24px;
  padding-top: 40px;
  height: 360px;
/*  background-color: #9cfbc0;*/
}
.describe-index ul li {
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 16px;
}

.figure-plate-index {
  width: 100%;
  height: 464px;
  margin: 0;
  box-shadow: 3px 3px 6px rgba( 0, 0, 0, 0.4 );
}
.figure-plate-index img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textplate-index {
  margin-top: -464px;
}

.figure-index a {
  text-decoration: none;
}

.jamppage-index {
  width: 100%;
  padding-top: 56px;;
}
.jamp-fig-index {
  width: 280px;
  height: 60px;
  margin: 0 auto;
  object-fit: cover;
}
.jamp-fig-index img {
  width: 100%;
  height: 100%;
}
.jamp-message-index {
  width: 100%;
  padding-left: 48px;
  margin-top: -64px;
}
.jamp-message-index p {
  font-family: "Noto Sans JP";
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 2.2px;
  color: #605601;
  width: 100%;
  text-align: center;
}

.principal-caption-index p {
  font-family: "Noto Serif JP";
  font-size: 30px;
  font-weight:600;
  line-height: 30px;
  letter-spacing: 2.8px;
  text-align: center;
  padding-top: 24px;
}
.principal-describe-index ul {
  list-style-type: cjk-decimal;
}
.principal-describe-index ul li {
  margin-left: 32px;
  margin-top: 24px;
}

.motto-caption-index p {
  font-family: "Noto Serif JP";
  font-size: 30px;
  font-weight:600;
  line-height: 36px;
  letter-spacing: 2.8px;
  text-align: center;
  padding-top: 24px;
}
.motto-describe-index {
  display: block;
  width: 100%;
  padding-top: 36px;
}
.motto-describe-index ul {
  display: block;
  width: 100%;
  list-style-type: none;
  margin-left: 16px;
}
.motto-describe-index ul li {
  margin-left: 40px;
  padding-bottom: 10px;
}

/*+ ===================================== +*/
/*+ 主記述部（company）
/** ===================================== +*/

/*+++ ビジュアルメイン +++*/
.main-visual-title-area-company {
  padding-top: 8px;;
  row-gap: 4px;
}

.main-visual-title-figure-company span {
  letter-spacing: 9px;
  color: #DD3500;*
}

.main-visula-narration-company {
  line-height: 40px;
  letter-spacing: 1.6px;
  color: #7A2972;
}

/*+++ 主記述部 +++*/
/* 全体の構造 */
.flexbox-right-company {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 136px auto 48px;
  grid-template-areas:
      "TitleBox-comp"
      "FigBox-comp"
      "TextBox-comp"
      "ReturnBox-comp";
  margin-bottom: 16px;
/*  background-color: #e8f290;*/
}

.flexbox-left-company {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 136px auto 48px;
  grid-template-areas:
      "TitleBox-comp"
      "FigBox-comp"
      "TextBox-comp"
      "ReturnBox-comp";
/*  background-color: #e8f290;*/
}

.title-area-company {
  display: block;
  position: relative;
  grid-area: TitleBox-comp;
  width: 100%;
  height: 48px;
/*  background-color: #73ffa2;*/
}
..title-area-company::after {
  content:"";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 2px dashed black;
}


.text-area-company {
  display: block;
  grid-area: TextBox-comp;
  width: 100%;
/*  background-color: #ff9f9f;*/
}


.figure-area-company {
  display: block;
  grid-area: FigBox-comp;
  width: 120px;
  height: 120px;
  margin: 0 auto auto auto;
  object-fit: cover;
/*  background-color: #a670f2;*/
}
.figure-area-company img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 4px rgba( 3, 3, 6, 0.25);
}

.return-top-company {
  display: block;
  grid-area: ReturnBox-comp;
/*  background-color: #a63d3d;*/
}

/* 個別の構造 */
.title-comp {
  display: block;
  height: 48px;
  width: auto;
  margin-top: 0px;
}
.h3-comp {
  height: 48px;
  width: auto;
  margin: 0;
}
.h3-comp::after {
  content:"";
  width: 100%;
  height: 1px;
  border-top: 2px dashed black;
}

.dash-comp {
  display: block;
  height: 32px;
  width: auto;
  margin: 0;
}
.dash-comp img {
  width: 100%;
  padding: 16px 0 0 10px;
}

.return-top-company {
  display: flex;
  justify-content: flex-end;
}
.return-top-company span {
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 1.4px;
  padding-right: 8px;
  color: #221EE8;
}
.return-top-company span a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.sub-text-comp {
  padding-left: 24px;
}

/*+ ===================================== +*/
/*+ 主記述部（service）
/** ===================================== +*/

/*+++ ビジュアルメイン +++*/
.main-visual-title-area-cservice {
  padding-top: 8px;;
  row-gap: 4px;
}

.main-visual-title-figure-service span {
  letter-spacing: 9px;
  color: #e88665;
  text-shadow: 3px 3px 4px rgba( 255, 255, 255, 0.70);
}

.main-visula-narration-service {
  line-height: 40px;
  letter-spacing: 1.6px;
  color: #e88665;
  text-shadow: 2px 2px 3px rgba( 255, 255, 255, 0.85);
}

/*+++ 主記述部 +++*/
/* 全体の構造 */
.abstract-service {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.display-bord-service {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 80px;
  width: 100%;
  margin: 64px auto;
/*  background-color: #ff9a9a;*/
}

.web-service {
  display: block;
  grid-column: 1;
  grid-row: 1;
/*  background-color: hsl(60, 100%, 82%);*/
}

.si-service {
  display: block;
  grid-column: 1;
  grid-row: 2;
/*  background-color: hsl(60, 100%, 82%);*/
}

.pm-service {
  display: block;
  grid-column: 1;
  grid-row: 3;
/*  background-color: hsl(60, 100%, 82%);*/
}

.consul-service {
  display: block;
  grid-column: 1;
  grid-row: 4;
/*  background-color: hsl(60, 100%, 82%);*/
}

.plate-service {
  display: block;
  width: 450px;
  height: 250px;
  margin: 0 auto;
}
.plate-service img {
  z-index: 50;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow( 2px, 2px, 4px, 4px, rgba( 0, 0, 0, 0.40));
}

.web-service p {
  z-index: 52;
  font-family: "Noto Sans JP";
  font-size: 36px;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: 3.4px;
  text-align: center;
  color: #ffffff;
  margin-top: -150px;
  padding-right: 32px;
  text-shadow: -2px -2px 3px #c2b2b2, 2px 2px 3px #c2b2b2;
}

.si-service p {
  z-index: 52;
  font-family: "Noto Sans JP";
  font-size: 34px;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #ffffff;
  margin-top: -150px;
  padding-right: 32px;
  text-shadow: -2px -2px 3px #c2b2b2, 2px 2px 3px #c2b2b2;
}

.pm-service p {
  z-index: 52;
  font-family: "Noto Sans JP";
  font-size: 34px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #ffffff;
  margin-top: -180px;
  padding-right: 32px;
  text-shadow: -2px -2px 3px #c2b2b2, 2px 2px 3px #c2b2b2;
}

.consul-service p {
  z-index: 52;
  font-family: "Noto Sans JP";
  font-size: 34px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #ffffff;
  margin-top: -180px;
  padding-right: 32px;
  text-shadow: -2px -2px 3px #c2b2b2, 2px 2px 3px #c2b2b2;
}

/*+ ===================================== +*/
/*+ 主記述部（aboutus）
/** ===================================== +*/
/*+++ ビジュアルメイン +++*/
.main-visual-title-figure-aboutus span {
  letter-spacing: 4.8px;
  color: #e8e8e8;
}

.main-visula-narration-aboutus {
  line-height: 40px;
  letter-spacing: 2.4px;
  margin-top: 3px;
  text-align: left;
  color: #e8e8e8;
}

/*+++ 主記述部 +++*/
/* 全体の構造 */
.leading-aboutus h3 {
  width: 100%;
  padding: 0 0 16px 0;
}
.leading-aboutus p {
  width: 100%;
  padding: 0 0 32px 0;
}

.refarence-aboutus {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat( 5, auto );
  grid-row-gap: 62px;
  width: 100%;
  margin:0 auto 32px auto;
}

.company-aboutus {
  display: block;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  margin: 0 auto;
/*  background-color: #f7ff8b;*/
}

.office-aboutus {
  display: block;
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  margin: 0 auto;
/*  background-color: #f7ff8b;*/
}

.devenv-aboutus {
  display: block;
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  margin: 0 auto;
/*  background-color: #f7ff8b;*/
}

.profile-aboutus {
  display: block;
  grid-column: 1;
  grid-row: 4;
  width: 100%;
  margin: 0 auto;
/*  background-color: #f7ff8b;*/
}

.motto-aboutus {
  display: block;
  grid-column: 1;
  grid-row: 5;
  width: 100%;
  margin: 0 auto;
/*  background-color: #f7ff8b;*/
}

.ref-fig-aboutus {
  width: 300px;
  height: 48px;
  border: 1px solid rgba( 20, 20, 20, 0.15 );
  filter: drop-shadow( 3px 3px 4px  rgba( 0, 0, 0, 0.40));
  margin: 0 auto;
}
.ref-fig-aboutus a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ref-fig-aboutus p {
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2.4px;
  color: #282727;
  margin-top: -41px;
  margin-left: 16px;
}

.rademake-part-abotus h3 {
  width: 100%;
}

.leading-aboutus p {
  padding: 0 16px;
  margin-bottom: 32px;
}

.trademake-part-abotus {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.trademark-exp-aboutus {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 32px auto;
  width: 100%;
  margin: 0 auto;
}

.trademark-aboutus {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  margin: 0 auto;
/*  background-color: #81fd9c;*/
}

.caption-aboutus {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  margin: 0 auto;
/*  background-color: #81fd9c;*/
}
.caption-aboutus p {
  padding: 0 32px;
}

.trademark-aboutus div {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid rgba( 20, 20, 20, 0.15 );
  filter: drop-shadow( 3px 3px 4px  rgba( 0, 0, 0, 0.40));
}
.trademark-aboutus div img {
  width: 100%;
  height: 100;
  object-fit: cover;
}

/*  ▼ タブレット以上の場合に適用するCSS ▼
/* -------------------------------------------- */
/*@media (min-width: 600px) {*/
@media screen and (min-width: 768px) {
  .viewport-test{
    background: #9eff8d; /* 黄色 */
  }

  /* ========================== */
  /* フォント定義
  /* ========================== */

  h2 {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 2.6px;
  }

  h3 {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 2.6px;
  }

  .regtext {
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 2.6px;
  }

  /*+ ===================================== +*/
  /*+ header部
  /** ===================================== +*/
  /* ヘッダー全体の領域の定義 */
  header {
    display: block;
    height: 200px;
    width: 100%;
  }

  /* ヘッダーのトレードマークの定義 */
  .trade-mark {
    top: 64px;
    left: 32px;
    width: 280px;
    height: 80px;
/*    background-color: orange;*/
  }
  .LogoMark {
    width: 80px;
    height: 80px;
/*    background-color: #62f56c;*/
  }
  .LogoMark img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .LogoText {
    height: 24px;
    margin-top: 47px;
    padding-left: 0 0 0 8px;
/*    background-color: #fe6464;*/
  }
  .LogoTextFig {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2.4px;
/*    color: #c9c9c9;*/
  }

  /* ヘッダーナビゲーション表示にする */
  .header-nav {
    display: block;
    position: relative;
    top: 108px;
    width: 100%;
    height: 20px;
    margin-top: -20px;
  /*  background-color: #fe9393;*/
  }
  .header-nav nav {
    width: 630px;
    margin: 0 auto;
  }
  .header-nav nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  .header-nav nav ul li {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
  }
  .header-nav nav ul li a {
    text-decoration: none;
    color: #7241FE;
    display: block;
    padding: 5px 10px;
  }
  .header-nav nav ul li a:hover {
    color: #ecd525;
  }

  /*** ハンバーガーメニュー ***/
  /* 非表示にする */
  .hamburger-menu {
    display: none;
  }


  /*+ until here about header ============= +*/

  /*+ ===================================== +*/
  /*+ footer部
  /** ===================================== +*/
  /* フッターの構造 */
  .footer {
  }

  /* フッターのサイズ・文字色 */
  .footer-title {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 2.2px;
  }
  .footer-text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr 368px 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 36px;
    width: 100%;
    margin: 56px auto 0;
    padding: 0;
  }

  .footer-nav {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .footer-address {
    grid-column: 4;
    grid-row: 1;
  }

  .footer-telmail {
    grid-column: 4;
    grid-row: 2;
  }

  .footer-business-hours {
    grid-column: 4;
    grid-row: 3;
  }

  .footer-text {
    margin-top: 16px;
    margin-left: 40px;
  }

  /* ナビゲーション */
  .footer-nav nav {
    margin-top: 32px;
    margin-left: 40px;
  }
  .footer-nav nav ul {
  }
  .footer-nav nav ul li {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2.16px;
  }
  .footer-nav nav ul li a {
    padding: 5px 10px;
  }
  .footer-nav nav ul li a:hover {
  }

  /* コピーライト */
  .footer-copyright {
    height: 68px;
  }

  .copyright-text {
    font-size: 16px;
    line-height: 16px;
    margin: 0 16px 16px 0;
  }

  /*+ until here about main-visual ======== +*/

  /*+ ===================================== +*/
  /*+ main部
  /** ===================================== +*/
  /*+ ===================================== +*/
  /*+ ビジュアルメイン部
  /** ===================================== +*/
  /* ビジュアルメイン画像 */
  .main-visual {
  }

  .main-visula-fig {
    height: 496px;
  }

  .main-visula-fig img {
  }

  /* タイトル文字 */
  .main-visual-title-panel {
    height: 496px;
    margin-top: -496px;
  }

  .main-visual-title-area {
    margin-top: -72px;
  }

  .main-visual-title span {
    font-size: 56px;
    line-height: 56px;
  }

  .main-visula-narration {
    font-size: 24px;
  }

  /*+ until here about main-visual ======== +*/

  /*+ ===================================== +*/
  /*+ 主記述部（top）
  /** ===================================== +*/
  /*+ ===================================== +*/
  /*+ 主記述部（index）
  /** ===================================== +*/

  /*+++ ビジュアルメイン +++*/

  .main-visual-title-figure-index span {
    letter-spacing: 4.8px;
  }

  .main-visula-narration-index {
    line-height: 36px;
    letter-spacing: 2.0px;
  }

  /*+++ 主記述部 +++*/
  /* 全体の構造 */
  .declaration-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 32px;
  }

  .title-1-index {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .what-company-index {
    grid-column: 1;
    grid-row: 2;
  }

  .what-service-index {
    grid-column: 2;
    grid-row: 2;
  }

  .title-2-index {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .principal-index {
    grid-column: 1;
    grid-row: 4;
  }

  .motto {
    grid-column: 2;
    grid-row: 4;
  }

  /* 個別の構造 */
  .title-area-index {
  }
  .title-index {
  }
  .title-index h3 {
  }
  .dash-index {
  }
  .dash-index img {
  }

  /* 各々の掲示 */
  .figure-index {
    width: 300px;
    height: 696px;
  }

  .caption-index {
    height: 96px;
  }
  .caption-index p {
    font-size: 28px;
    font-weight:600;
    line-height: 36px;
    letter-spacing:2.8px;
    padding-top: 4px;
  }
  .hr-index {
  }
  .hr-index img {
  }
  .describe-index {
    height: 440px;
    margin: -8px 0;
  }
  .describe-index ul {
    height: 440px;
  }
  .describe-index ul li {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2.4px;
    margin-bottom: 18px;
  }

  .figure-plate-index {
    height: 556px;
  }
  .figure-plate-index img {
  }
  .textplate-index {
    margin-top: -556px;
  }

  .jamppage-index {
  width: 100%;
  padding-top: 56px;;
  }
  .jamp-fig-index {
    width: 240px;
    height: 54px;
  }
  .jamp-fig-index img {
  }
  .jamp-message-index {
    padding-left: 48px;
    margin-top: -54px;
  }
  .jamp-message-index p {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1.8px;
  }

  .principal-caption-index p {
    font-size: 30px;
    font-weight:600;
    line-height: 30px;
    letter-spacing: 2.8px;
    padding-top: 24px;
  }
  .principal-describe-index ul {
    margin-left: -6px;
    margin-right: -2px;
  }
  .principal-describe-index ul li {
    margin-bottom: 32px;
  }

  .motto-caption-index p {
    font-size: 30px;
    font-weight:600;
    line-height: 30px;
    letter-spacing: 2.8px;
    padding-top: 24px;
  }
.motto-describe-index {
  width: 100%;
  padding-top: 36px;
}
.motto-describe-index ul {
  width: 100%;
  list-style-type: none;
  margin-left: -36px;
}
.motto-describe-index ul li {
  margin-left: 40px;
  padding-bottom: 10px;
}

  /*+ ===================================== +*/
  /*+ 主記述部（company）
  /** ===================================== +*/

  /* ビジュアルメイン */
  .main-visual-title-area {
    padding-top: 112px;
    row-gap: 4px;
  }

  .main-visual-title-figure-company span {
    letter-spacing: 12px;
  }

  .main-visula-narration-company {
    line-height: 36px;
    letter-spacing: 2.0px;
  }

  /*+++ 主記述部 +++*/
  /* 全体の構造 */
  .flexbox-right-company {
    display: grid;
    grid-template-columns: 1fr 384px;
    grid-template-rows: 72px auto 88px;
    grid-template-areas:
        "TitleBox-comp TitleBox-comp"
        "TextBox-comp FigBox-comp"
        "ReturnBox-comp ReturnBox-comp";
/*    background-color: #e8f290;*/
  }

  .flexbox-left-company {
    display: grid;
    grid-template-columns: 384px 1fr;
    grid-template-rows: 72px auto 88px;
    grid-template-areas:
        "TitleBox-comp TitleBox-comp"
        "FigBox-comp TextBox-comp"
        "ReturnBox-comp ReturnBox-comp";
/*    background-color: #e8f290;*/
  }

  .title-area-company {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-area: TitleBox-comp;
    height: 72px;
    width: 100%;
/*    background-color: #73ffa2;*/
  }

  .title-comp {
    width: auto;
  }

  .text-area-company {
    display: block;
    grid-area: TextBox-comp;
/*    background-color: #ff9f9f;*/
  }

  .figure-area-company {
    display: block;
    grid-area: FigBox-comp;
    width: 240px;
    height: 240px;
    margin: 0 auto auto auto;
    object-fit: cover;
/*    background-color: #a670f2;*/
  }
  .figure-area-company img {
    width: 100%;
    height: 100%;
  }

  .return-top-company {
    display: block;
    grid-area: ReturnBox-comp;
/*    background-color: #a63d3d;*/
  }

  /* 個別の構造 */
  .h3-comp {
    height: 48px;
    margin: 0;
  }

  .dash-comp {
    display: block;
    height: 72px;
    margin: 0;
    margin-top: 0px;
  }
  .dash-comp img {
    padding: 12px 0 0 8px;
  }

  .return-top-company {
    display: flex;
    justify-content: flex-end;
  }
  .return-top-company span {
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 1.4px;
    padding-right: 8px;
    color: #221EE8;
  }
  .return-top-company span a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
  }

  .sub-text-comp {
    padding-left: 24px;
  }

  /*+ ===================================== +*/
  /*+ 主記述部（service）
  /** ===================================== +*/

  /*+++ ビジュアルメイン +++*/
  .main-visual-title-area-cservice {
  }

  .main-visual-title-figure-service span {
  }

  .main-visula-narration-service {
  }

  /*+++ 主記述部 +++*/
  /* 全体の構造 */
  .abstract-service {
  }

  .display-bord-service {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 60px;
    width: 100%;
    margin: 64px auto;
  }

  .web-service {
    display: block;
    grid-column: 2;
    grid-row: 1;
  }

  .si-service {
    display: block;
    grid-column: 4;
    grid-row: 1;
  }

  .pm-service {
    display: block;
    grid-column: 2;
    grid-row: 2;
  }

  .consul-service {
    display: block;
    grid-column: 4;
    grid-row: 2;
  }

  .plate-service {
    display: block;
    width: 320px;
    height: 200px;
    margin: 0 auto;
  }
  .plate-service img {
  }

  .web-service p {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 2.6px;
    margin-top: -126px;
    padding-right: 32px;
  }

  .si-service p {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 2.6px;
    margin-top: -126px;
    padding-right: 32px;
  }

  .pm-service p {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 3.6px;
    margin-top: -144px;
    padding-right: 32px;
  }

  .consul-service p {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 2.6px;
    margin-top: -144px;
    padding-right: 32px;
  }

  /*+ ===================================== +*/
  /*+ 主記述部（aboutus）
  /** ===================================== +*/

  /*+++ ビジュアルメイン +++*/
  .main-visual-title-area-aboutus {
  }

  .main-visual-title-figure-aboutus span {
  }

  .main-visula-narration-aboutus {
  }

  /*+++ 主記述部 +++*/
  /* 全体の構造 */
  .refarence-aboutus {
    display: grid;
    grid-template-columns: 1fr 4fr 8fr;
    grid-template-rows: repeat( 5, auto );
    grid-row-gap: 62px;
    width: 100%;
    margin:0 auto 48px auto;
  }

  .company-aboutus {
    grid-column: 2;
    grid-row: 1;
  }

  .office-aboutus {
    grid-column: 2;
    grid-row: 2;
  }

  .devenv-aboutus {
    grid-column: 2;
    grid-row: 3;
  }

  .profile-aboutus {
    grid-column: 2;
    grid-row: 4;
  }

  .motto-aboutus {
    grid-column: 2;
    grid-row: 5;
  }

  .trademake-part-abotus h3 {
    margin-bottom: 40px;
  }

  .trademark-exp-aboutus {
    display: grid;
    grid-template-columns: 24px 240px 1fr;
    grid-template-rows: 200px 36px auto;
    width: 100%;
    margin: 0 auto;
  }

  .trademark-aboutus {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    margin: 0 auto 40px;
    padding-top: 10px;
  }

  .caption-aboutus {
    grid-column: 2 / 4;
    grid-row: 3;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .caption-aboutus p {
    margin: 0;
    padding-left: 16px;
  }

  .trademark-aboutus div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .trademark-aboutus div img {
  }

/* end media tablet phone */
}

/* -------------------------------------------- */
/*  ▼PCの場合に適用するCSS ▼
/* -------------------------------------------- */
/*@media (min-width: 1024px) {*/
@media screen and (min-width: 1024px) {
  .viewport-test{
    background: #C8E3ED; /* 水色 */
  }
  /* 表示の最大サイズ */
  body {
    max-width: 2000px;
    margin: 0 auto;
  }

  /* ========================== */
  /* フォント定義
  /* ========================== */

  h2 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 3.2px;
  }

  h3 {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 3.0px;
  }

  .regtext {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 2.2px;
  }

  /*+ ===================================== +*?
  /*+ header部
  /** ===================================== +*?//
  /* ヘッダー全体の領域の定義 */
  header {
    display: block;
    height: 240px;
    width: 100%;
  }

  /* ヘッダーのトレードマークの定義 */
  .trade-mark {
    display: flex;
    position: relative;
    top: 96px;
    left: 72px;
    width: 320px;
    height: 96px;
/*    background-color: orange;*/
  }
  .LogoMark {
    width: 96px;
    height: 96px;
    margin: 0;
/*    background-color: #62f56c;*/
  }
  .LogoMark img {
  }
  .LogoText {
    height: 24px;
    margin-top: 58px;
    padding-left: 0 0 0 8px;
/*    background-color: #fe6464;*/
  }
  .LogoTextFig {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 2.8px;
  }

  /* ヘッダーナビゲーション表示にする */
  .header-nav {
    display: block;
    position: relative;
    top: 128px;
    width: 100%;
    height: 20px;
/*    background-color: #fe9393;*/
  }
  .header-nav nav {
    width: 630px;
    margin: 0 auto;
  }
  .header-nav nav ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
  }
  .header-nav nav ul li {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2.4px;
  }
  .header-nav nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
  }
  .header-nav nav ul li a:hover {
  }

  /*+ until here about header ============= +*/

  /*+ ===================================== +*/
  /*+ footer部
  /** ===================================== +*/
  /* フッターの構造 */
  .footer {
  }

  /* フッターのサイズ・文字色 */
  .footer-title {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 2.2px;
  }
  .footer-text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px;
  }

  /* フッター構造 */

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr 368px 1fr 368px 1fr;
    grid-template-rows: auto auto;
    row-gap: 36px;
    width: 100%;
    margin: 64px auto 0;
    padding: 0;
  }

  .footer-nav {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .footer-address {
    grid-column: 4;
    grid-row: 1;
  }

  .footer-telmail {
    grid-column: 4;
    grid-row: 2;
  }

  .footer-business-hours {
    grid-column: 6;
    grid-row: 1 / 3;
  }

  .footer-text {
    margin-top: 16px;
    margin-left: 40px;
  }

  /* ナビゲーション */
  .footer-nav nav {
    margin-top: 32px;
    margin-left: 40px;
  }
  .footer-nav nav ul {
  }
  .footer-nav nav ul li {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2.16px;
  }
  .footer-nav nav ul li a {
    padding: 5px 10px;
  }
  .footer-nav nav ul li a:hover {
  }

  /* コピーライト */
  .footer-copyright {
    width: 100%;
    height: 68px;
  }

  .copyright-text {
    font-size: 16px;
    line-height: 16px;
    margin: 0 16px 16px 0;
  }


  /*+ until here about footer ============= +*/

  /*+ ===================================== +*/
  /*+ main部
  /** ===================================== +*/
  /*+ ===================================== +*/
  /*+ ビジュアルメイン部
  /** ===================================== +*/
  /* ビジュアルメイン画像 */
  .main-visual {
  }

  .main-visula-fig {
    height: 864px;
  }

  .main-visula-fig img {
  }

  /* タイトル文字 */
  .main-visual-title-panel {
    height: 864px;
    margin-top: -864px;
  }

  .main-visual-title-area {
    padding-top: 200px;
  }

  .main-visual-title span {
    font-size: 96px;
    line-height: 96px;
  }

  .main-visula-narration {
    font-size: 32px;
  }

  /* メイン記述部 */
  main {
    width: 100%;
    margin: 0 auto;
  }

  /*+ until here about main-visual ======== +*/

  /*+ ===================================== +*/
  /*+ 主記述部（index）
  /** ===================================== +*/

  /*+++ ビジュアルメイン +++*/
  .main-visual-title-figure-index span {
    letter-spacing: 9.6px;
  }

  .main-visula-narration-index {
    line-height: 72px;
    letter-spacing: 3.2px;
  }

/*+++ 主記述部 +++*/
  /* 全体の構造 */
  .declaration-index {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 4fr 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .title-1-index {
    grid-column: 2 / 6;
    grid-row: 1;
  }

  .what-company-index {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .what-service-index {
    grid-column: 4 / 6;
    grid-row: 2;
  }

  .title-2-index {
    grid-column: 3 / 7;
    grid-row: 3;
 }

  .principal-index {
    grid-column: 3 / 5;
    grid-row: 4;
  }

  .motto {
    grid-column: 5 / 7;
    grid-row: 4;
  }



  /*+ ===================================== +*/
  /*+ 主記述部（company）
  /** ===================================== +*/

  /* ビジュアルメイン */
  .main-visual-title-area {
    margin: 0 auto;
    row-gap: 20px;
  }

  .main-visual-title-figure-company span {
    letter-spacing: 24.0px;
  }

  .main-visula-narration-company {
    line-height: 64px;
    letter-spacing: 3.2px;
  }

  /*+ ===================================== +*/
  /*+ 主記述部（service）
  /** ===================================== +*/

  .display-bord-service {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 80px;
    width: 100%;
    margin: 64px auto;
  }

  /*+ ===================================== +*/
  /*+ 主記述部（aboutus）
  /** ===================================== +*/

  /*+++ ビジュアルメイン +++*/
  .main-visual-title-area-aboutus {
  }

  .main-visual-title-figure-aboutus span {
  }

  .main-visula-narration-aboutus {
  }

  /*+++ 主記述部 +++*/
  /* 全体の構造 */
  .refarence-aboutus {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    grid-template-rows: repeat( 3, auto );
    grid-row-gap: 62px;
    width: 100%;
    margin:0 auto 32px auto;
  }

  .company-aboutus {
    grid-column: 2;
    grid-row: 1;
  }

  .office-aboutus {
    grid-column: 4;
    grid-row: 1;
  }

  .devenv-aboutus {
    grid-column: 2;
    grid-row: 2;
  }

  .profile-aboutus {
    grid-column: 4;
    grid-row: 2;
  }

  .motto-aboutus {
    grid-column: 2;
    grid-row: 3;
  }

    .trademark-exp-aboutus {
    display: grid;
    grid-template-columns: 40px 200px 32px 1fr;
    grid-template-rows: auto;
    width: 100%;
    margin: 0 auto;
  }

  .trademark-aboutus {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    margin: 0 auto 40px;
    padding-top: 10px;
  }

  .caption-aboutus {
    grid-column: 4;
    grid-row: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .caption-aboutus p {
    margin: 0;
    padding-left: 16px;
  }

  .trademark-aboutus div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .trademark-aboutus div img {
  }

/* end media pc phone */
}
